In [1]:
import pandas as pd

Leitura do Data Frame com o Pandas e armazenamento na variável df

In [2]:
df = pd.read_csv(r'C:\Users\samco\OneDrive\LP\Repositorios DEV\EBAC_Estudos\EBAC\Preparacao_dados\clientes-v2.csv')

Exibir os primeiros e os últimos registros do dataframe em string e editar o formato da data

In [3]:
print(df.head().to_string())
print(df.tail().to_string())
df['data'] = pd.to_datetime(df['data'], format = '%d/%m/%Y', errors='coerce')

                  nome             cpf  idade        data                                                          endereco               estado    pais   salario      nivel_educacao  numero_filhos estado_civil  anos_experiencia area_atuacao
0           Vitor Lima  612.570.493-99     56  19/01/1968           Estrada Barbosa, 255\nVila Tirol\n53133-647 Barros / PR                 Pará  Brasil  13550.54        Ensino Médio              0       Casado                17   Tecnologia
1    Ana Clara Martins  648.129.530-06     33  02/12/1990        Favela Duarte, 44\nBonfim\n37709685 Farias das Flores / SP       Santa Catarina  Brasil  10645.16                 NaN              3          NaN                15          NaN
2      Heloísa da Mata  340.981.256-33     49  31/01/1975          Pátio de Vieira, 83\nJonas Veiga\n53832-319 Cardoso / PR  Rio Grande do Norte  Brasil   3124.72        Ensino Médio              3       Casado                 3    Indústria
3          Juan Novaes  097.168.524-01     54  26/08/1969                    Morro de Pereira\nPiraja\n36797-897 Rocha / PA         Minas Gerais  Brasil   7534.60        Ensino Médio              0       Casado                18   Tecnologia
4  Srta. Sarah Peixoto  079.283.516-68     61  19/03/1963  Área Marina Martins, 34\nSão Sebastião\n10696-521 das Neves / PE                Amapá  Brasil   4067.73  Ensino Fundamental              1     Solteiro                16     Comércio
                    nome             cpf  idade        data                                                                  endereco        estado    pais   salario      nivel_educacao  numero_filhos estado_civil  anos_experiencia area_atuacao
9995         Yago Fogaça  536.129.087-40     31  24/08/1992                        Campo da Luz, 1\nVila Betânia\n13116409 Viana / SP      Maranhão  Brasil   4596.30        Ensino Médio              2   Divorciado                 9     Comércio
9996          Raul Lopes  078.234.156-07     42  01/08/1981              Via de Viana, 58\nVila Pilar\n47145794 da Mata do Norte / PI       Roraima  Brasil   3122.14  Ensino Fundamental              1       Casado                21        Saúde
9997          Laís Nunes  925.607.183-59     24  01/03/2000              Loteamento Otávio Jesus\nVila Cemig\n71077-892 da Costa / RN  Minas Gerais  Brasil   4361.52        Ensino Médio              1       Casado                 4     Educação
9998  Eduarda Cavalcanti  761.820.349-04     63  08/11/1960      Morro Nogueira, 32\nTúnel De Ibirité\n63634373 Ribeiro do Oeste / PR        Paraná  Brasil  13283.77        Ensino Médio              1     Solteiro                34    Indústria
9999    Ana Sophia Moura  537.962.184-82     59  03/03/1965  Passarela Leonardo da Conceição, 16\nMirante\n68619118 da Conceição / MT      Maranhão  Brasil   3523.88  Ensino Fundamental              2       Casado                31     Educação

Mostrar as informações do dataframe

In [5]:
print('Verificação inicial: \n')
print(df.info())

Verificação inicial:

<class 'pandas.core.frame.DataFrame'>
Index: 8629 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nome              8629 non-null   object
 1   cpf               8629 non-null   object
 2   idade             8629 non-null   int64
 3   data              8629 non-null   datetime64[ns]
 4   endereco          8629 non-null   object
 5   estado            8629 non-null   object
 6   pais              8629 non-null   object
 7   salario           8629 non-null   float64
 8   nivel_educacao    8629 non-null   object
 9   numero_filhos     8629 non-null   int64
 10  estado_civil      8629 non-null   object
 11  anos_experiencia  8629 non-null   int64
 12  area_atuacao      8629 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(8)
memory usage: 943.8+ KB
None

Verificação de dados nulos

In [8]:
#Somando os dados nulos e exibindo a quantidade
print('Analise de dados nulos: \n', df.isnull().sum())

#Exibindo a porcentagem dos dados nulos
print("\n%"' de dados nulos: \n', df.isnull().mean() * 100)

Analise de dados nulos:
 nome                0
cpf                 0
idade               0
data                0
endereco            0
estado              0
pais                0
salario             0
nivel_educacao      0
numero_filhos       0
estado_civil        0
anos_experiencia    0
area_atuacao        0
dtype: int64

% de dados nulos:
 nome                0.0
cpf                 0.0
idade               0.0
data                0.0
endereco            0.0
estado              0.0
pais                0.0
salario             0.0
nivel_educacao      0.0
numero_filhos       0.0
estado_civil        0.0
anos_experiencia    0.0
area_atuacao        0.0
dtype: float64

Remoção de dados nulos

In [20]:
#Removendo dados nulos
df.dropna(inplace=True)

print('Confirmar remoção de dados nulos, nulos: \n', df.isnull().sum().sum())

Confirmar remoção de dados nulos, nulos:
 0

Verificação de duplicatas

In [19]:
print('Dados duplicados: \n', df.duplicated().sum())

Dados duplicados:
 0

Verificação de dados únicos

In [ ]:
#Possível verificar chaves primárias
print('Dados únicos: \n', df.nunique())

Dados únicos:
 nome                7032
cpf                 8620
idade                 74
data                6875
endereco            8629
estado                27
pais                   1
salario             8581
nivel_educacao         4
numero_filhos          6
estado_civil           4
anos_experiencia      68
area_atuacao           5
dtype: int64

Mostrar estatísticas dos dados

In [21]:
print('Estatísticas: \n', df.describe())

Estatísticas:
              idade                           data       salario  \
count  8629.000000                           8629   8629.000000
mean     40.012516  1983-10-06 07:38:25.017962752   6771.998985
min      18.000000            1932-04-24 00:00:00   1357.960000
25%      27.000000            1973-05-20 00:00:00   4232.500000
50%      38.000000            1985-07-26 00:00:00   6061.630000
75%      50.000000            1996-12-14 00:00:00   8449.750000
max      91.000000            2006-04-11 00:00:00  29736.680000
std      15.401438                            NaN   3478.140961

       numero_filhos  anos_experiencia
count    8629.000000       8629.000000
mean        1.000811         11.083440
min         0.000000          0.000000
25%         0.000000          2.000000
50%         1.000000          8.000000
75%         2.000000         16.000000
max         5.000000         73.000000
std         1.123205         11.215747

Reduzir para a quantidade de colunas do meu interesse

In [23]:
df = df[['idade','data','estado','salario','nivel_educacao','numero_filhos','estado_civil','area_atuacao']]
print(df.head().to_string())

   idade       data               estado   salario      nivel_educacao  numero_filhos estado_civil area_atuacao
0     56 1968-01-19                 Pará  13550.54        Ensino Médio              0       Casado   Tecnologia
2     49 1975-01-31  Rio Grande do Norte   3124.72        Ensino Médio              3       Casado    Indústria
3     54 1969-08-26         Minas Gerais   7534.60        Ensino Médio              0       Casado   Tecnologia
4     61 1963-03-19                Amapá   4067.73  Ensino Fundamental              1     Solteiro     Comércio
5     30 1993-12-09              Alagoas   6809.94        Ensino Médio              1       Casado   Tecnologia

Salvando...

In [24]:
df.to_csv('clientes-v2-tratados.csv', index=False)